@import "mixins";
@import "colors";
@import "fonts";
@import "modalheader";
@import "modalloading";
@import "modalfooter";
@import "modalnodata";
@import "evolutiontable";

.modal-background {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: $blacktrans50;
  z-index: 100;
}
.modal-content {
  background-image: $background_grid;
  background-size: 27px 27px;
  background-color: $modal_background;
  position: relative;
  text-align: center;
  width: 80%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  .modal-body {
    overflow: scroll;
    height: 500px;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
}
p {
  color: $white;
}
.info-digimon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .left-side-info,
  .right-side-info {
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
    @include tablet() {
      width: 100%;
    }
    .info-levels {
      border-color: $border_level_box;
      font-weight: bold;
      width: fit-content;
      padding: 10px 40px;
      border-radius: 10px;
      background: $level_box_back;
    }
    .info-more-data {
      background-color: $more_data_box_back;
      border-color: $more_data_box_border;
      border-radius: 15px;
      padding: 10px;
    }
    .info-type {
      font-weight: 900;
      font-size: 12px;
    }

    .statics-title {
      color: $textcolor_statics;
      text-transform: uppercase;
      font-weight: bold;
    }
    .info-statics div p {
      color: $textcolor_statics_data;
      font-weight: bold;
      font-size: 15px;
    }
    .info-statics:nth-child(2),
    .info-type {
      margin-bottom: 10px;
    }
  }
  .left-side-info {
    .info-name {
      background: $gradient-2;
      color: $white;
      padding: 10px 50px;
      border-radius: 20px;
      border-color: $border_title_box_border;
      width: fit-content;
      display: inline-block;
    }
    .info-img {
      display: block;
      border-radius: 10px;
      border-color: $border_img;
      @include mobilexs() {
        width: 100%;
      }
    }
  }
  .info-fields,
  .info-levels {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .tables {
    display: block;
  }
  .info-img,
  .info-levels,
  .info-description {
    margin: 0 auto 20px;
  }
  .info-name,
  .info-img,
  .info-types,
  .info-levels,
  .info-more-data {
    margin-bottom: 20px;
    border: width 3px;
    border-style: solid;
  }
  .info-name,
  .info-levels,
  .info-more-data,
  .info-table-title {
    text-shadow: 1px 1px 2px $black;
  }
}
